.rm-register {
  justify-content: center;
  align-items: center; }

.rm-register .p-card {
  width: 15rem;
  height: fit-content;
  flex: 0 0 auto; }

.margi {
  margin-top: -1rem;
  color: red; }

.rm-register form {
  width: 100%;
  height: 100%; }
  .rm-register form button {
    width: 100%; }
