// MainLayout
$header-height: 3rem;
$footer-height: 1rem;

$padding-xs: 0.25rem;
$padding-s: 0.5rem;
$padding-m: 1rem;
$padding-l: 2rem;
$padding-xl: 2.5rem;

$margin-xs: 0.25rem;
$margin-s: 0.5rem;
$margin-m: 1rem;
$margin-l: 2rem;
$margin-xl: 2.5rem;
