.rm-auth {
  justify-content: center;
  align-items: center; }

.rm-auth .bp3-card {
  width: 15rem;
  height: fit-content;
  flex: 0 0 auto; }

.rm-auth .input-field {
  margin-bottom: 1rem; }
  .rm-auth .input-field .bp3-input-group {
    width: 100%; }

.rm-auth form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }
  .rm-auth form label {
    text-align: left; }
  .rm-auth form .bp3-button {
    width: 100%;
    margin: 0.5rem auto; }
